.card{
    width: 500px;
    height: 370px;
}

body {
    padding-top: 0vh;
    background: linear-gradient(#082767, #da18e0) no-repeat;
    margin: 0px;
    /* background-color: #082767; */
    background-size: cover;
}
