nav {
    background-color: #000000a1;
    text-align: center;
    transform: scale(1.0);
}

html {
    padding-top: 0vh;
    background: linear-gradient(#082767, #da18e0) no-repeat;
    margin: 0px;
    /* background-color: #082767; */
    background-size: cover;
    
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

#estilo {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

}

#circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}


#meio {
    color: #ffffff;
    font-weight: bold;
    background-color: #81126d;
    color: #FFF;
    border-radius: 90px;

    
}

.card-body{
    width: 100%;
    height: 230px;
}

.card{
    width: 700px;
}

.card img{
    border-radius: 5px;
}