a{
    font-size: 1rem;
    font-weight: bold;
    line-height: 40px;
    padding: 7px 10px;
    margin: 05px;
}

body {
    padding-top: 0vh;
    background: linear-gradient(#082767, #da18e0) no-repeat;
    margin: 0px;
    /* background-color: #082767; */
    background-size: cover;
}
